<li title="Разместить кнопки в две строки"><div class="BRK"></div></li>
<li title="Жирный"><div class="Bold"></div></li>
<li title="Курсив"><div class="Italic"></div></li>
<li title="Подчеркнутый"><div class="Underline"></div></li>
<li title="Зачеркнутый"><div class="Strikethrough"></div></li>
<li title="Верхний индекс"><div class="Superscript"></div></li>
<li title="Нижний индекс"><div class="Subscript"></div></li>
<li title="Цвет шрифта"><div class="ForeColor"></div></li>
<li title="Цвет фона"><div class="BackColor"></div></li>
<li title="Очистить форматирование"><div class="RemoveFormat"></div></li>
<li title="Заголовки H1...H6"><div class="Paragraph"></div></li>
<li title="Имя шрифта"><div class="FontName"></div></li>
<li title="Размер шрифта"><div class="FontSize"></div></li>
<li title="Гугл шрифты + стандартные"><div class="FontDialog"></div></li>
<li title="Действия над текстом"><div class="TextDialog"></div></li>
<li title="Расширенные действия над текстом"><div class="CompleteTextDialog"></div></li>
<li title="Кавычки"><div class="Quote"></div></li>
<li title="Вставить текст"><div class="Paste"></div></li>
<li title="Выбрать стиль"><div class="Styles"></div></li>
<li title="Выровнять слева"><div class="JustifyLeft"></div></li>
<li title="Выровнять по центру"><div class="JustifyCenter"></div></li>
<li title="Выровнять справа"><div class="JustifyRight"></div></li>
<li title="Выровнять по всей длине"><div class="JustifyFull"></div></li>
<li title="Применить абсолютную позицию"><div class="Absolute"></div></li>
<li title="Маркированный список"><div class="Bullets"></div></li>
<li title="Нумерованный список"><div class="Numbering"></div></li>
<li title="Отменить отступ для текста"><div class="Outdent"></div></li>
<li title="Вставить таблицу"><div class="Table"></div></li>
<li title="Редактировать таблицу"><div class="TableDialog"></div></li>
<li title="Флеш плеер"><div class="FlashDialog"></div></li>
<li title="Ссылка"><div class="LinkDialog"></div></li>
<li title="Изображение"><div class="ImageDialog"></div></li>
<li title="Загружаем ролики Youtube"><div class="YoutubeDialog"></div></li>
<li title="Специальные символы"><div class="CharsDialog"></div></li>
<li title="Поиск"><div class="SearchDialog"></div></li>
<li title="Исходный код"><div class="SourceDialog"></div></li>
<li title="Смайлики"><div class="Emoticons"></div></li>
<li title="Вставить линию"><div class="Line"></div></li>
<li title="Отменить"><div class="Undo"></div></li>
<li title="Вернуть"><div class="Redo"></div></li>
<li title="Очистить все"><div class="ClearAll"></div></li>
<li title="Развернуть редактор на полный экран"><div class="FullScreen"></div></li>
<li title="Bootstrap"><div class="Snippets"></div></li>
<li title="Просмотр"><div class="Preview"></div></li>